* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body {
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222;
  font-family: arial,sans-serif; }
  @media screen and (max-width: 576px) {
    body {
      display: -webkit-box; } }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  width: 480px; }
  @media screen and (max-width: 576px) {
    .container {
      padding: 0 15px;
      width: calc( 100% - 30px); } }

.apps-popup {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  width: 340px;
  height: 468px;
  margin-top: 40px;
  margin-right: 27px;
  padding: 3px 6px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 999; }
  @media screen and (max-width: 420px) {
    .apps-popup {
      width: 240px; } }
  .apps-popup .iframe {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    overflow-x: hidden;
    overflow-y: auto; }
    .apps-popup .iframe::-webkit-scrollbar {
      width: 10px;
      background-color: #fff;
      border-radius: 25px; }
    .apps-popup .iframe::-webkit-scrollbar-thumb {
      background-color: #DADCE0;
      border-radius: 25px; }
    .apps-popup .iframe ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      padding: 17px 0 20px 12px; }
      .apps-popup .iframe ul li {
        position: relative;
        display: inline-block;
        width: 86px;
        height: 98px;
        padding: 1px 7px 1px 7px;
        text-align: center;
        cursor: pointer; }
        .apps-popup .iframe ul li:hover {
          background-color: #f6fafe;
          border-radius: 8px; }
    .apps-popup .iframe .s-logo {
      background-image: url(https://ssl.gstatic.com/gb/images/p1_6269e604.png);
      background-size: 64px 2824px;
      height: 64px;
      width: 64px;
      display: inline-block; }

.accounts-popup {
  position: absolute;
  display: none;
  right: 0;
  top: 44px;
  width: 354px;
  max-height: calc(100vh - 44px - 115px);
  color: #000;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  outline: none; }
  @media screen and (max-width: 420px) {
    .accounts-popup {
      width: calc( 100vw - 60px); } }
  .accounts-popup .btop {
    border-top: 1px solid #e8eaed; }
  .accounts-popup .person {
    margin: 20px 33px;
    text-align: center; }
    .accounts-popup .person .logo {
      margin: 0 auto;
      height: 80px;
      width: 80px;
      background-image: url(https://lh3.googleusercontent.com/ogw/ADGmqu92ChbeXDrwDxGcmEJRy5kP-LVN-L1tWt4GC2Ew=s83-c-mo); }
    .accounts-popup .person-info .nickname {
      color: #202124;
      font: 500 16px/22px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      letter-spacing: .29px;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden; }
    .accounts-popup .person-info .email {
      color: #5f6368;
      font: 400 14px/19px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      letter-spacing: normal;
      text-overflow: ellipsis;
      overflow: hidden; }
    .accounts-popup .person-info a {
      margin-top: 16px;
      border: 1px solid #dadce0;
      border-radius: 100px;
      color: #3c4043;
      display: inline-block;
      font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      letter-spacing: .25px;
      margin: 16px 0 0;
      max-width: 254px;
      padding: 8px 16px;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden; }
      .accounts-popup .person-info a:hover {
        background-color: #f7f8f8;
        text-decoration: none; }
  .accounts-popup .person-accounts a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    cursor: pointer;
    height: 35px;
    outline: 0;
    padding: 12px 33px 13px;
    text-decoration: none; }
    .accounts-popup .person-accounts a:hover {
      background-color: #f7f8f8; }
    .accounts-popup .person-accounts a img {
      border: none;
      vertical-align: top;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px; }
    .accounts-popup .person-accounts a .item-info .name {
      color: #3c4043;
      font: 500 14px/18px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      letter-spacing: .25px; }
    .accounts-popup .person-accounts a .item-info .email {
      color: #5f6368;
      font: 400 12px / 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif; }
  .accounts-popup .person-accounts .one-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #3c4043;
    font: 500 14px/18px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif; }
    .accounts-popup .person-accounts .one-more svg {
      opacity: .7;
      margin-right: 10px; }
  .accounts-popup .logout {
    text-align: center; }
    .accounts-popup .logout a {
      border: 1px solid #dadce0;
      border-radius: 4px;
      display: inline-block;
      font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      letter-spacing: .15px;
      margin: 16px 0;
      padding: 10px 24px;
      color: #3c4043; }
      .accounts-popup .logout a:hover {
        background-color: #f7f8f8;
        text-decoration: none; }
  .accounts-popup .privacy {
    color: #5f6368;
    padding: 14px 0;
    text-align: center; }
    .accounts-popup .privacy a {
      border-radius: 4px;
      color: #5f6368;
      display: inline-block;
      font: 400 12px / 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      padding: 4px 8px;
      text-decoration: none; }
      .accounts-popup .privacy a:hover {
        background-color: #f7f8f8;
        text-decoration: none; }

nav {
  display: block;
  position: fixed;
  right: 0;
  top: 15px;
  font-size: 13px;
  z-index: 9999; }
  nav a {
    color: rgba(0, 0, 0, 0.87); }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    nav ul li {
      padding-left: 15px; }
      nav ul li:first-child {
        padding-left: 0; }
    nav ul img {
      height: 30px;
      width: 30px; }
    nav ul .apps,
    nav ul .accounts img {
      cursor: pointer; }
    nav ul .accounts {
      position: relative; }
    nav ul svg {
      color: rgba(0, 0, 0, 0.6); }
      nav ul svg:hover {
        color: rgba(0, 0, 0, 0.9); }

#content {
  top: -300px; }
  @media screen and (max-width: 576px) {
    #content {
      width: 100%; } }
  #content .icon {
    height: 24px;
    width: 24px; }
  #content .logo {
    text-align: center;
    margin-bottom: 30px; }
  #content form {
    position: relative;
    width: 100%; }
    #content form .active {
      border-radius: 24px 24px 0 0;
      -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
              box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28) !important;
      border-color: rgba(223, 225, 229, 0) !important; }
    #content form .disable {
      border-radius: 24px; }
    #content form .input-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 44px;
      margin: 0 auto;
      padding: 0px 8px 0 14px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: #fff;
      border: 1px solid #dfe1e5;
      z-index: 3; }
      #content form .input-box:hover {
        -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
                box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        border-color: rgba(223, 225, 229, 0); }
      #content form .input-box .search-keywords {
        position: relative;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        height: 100%; }
      #content form .input-box input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        font: 16px arial,sans-serif; }
      #content form .input-box .search {
        margin-right: 15px;
        opacity: .4; }
      #content form .input-box .tooltiptext {
        position: absolute;
        top: 160%;
        padding: 7px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        background-color: #000;
        visibility: hidden; }
        #content form .input-box .tooltiptext::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent black transparent; }
      #content form .input-box .keyboard {
        position: relative;
        fill: #80868b;
        cursor: pointer; }
        #content form .input-box .keyboard .tooltiptext {
          margin-left: -78px; }
        #content form .input-box .keyboard:hover .tooltiptext {
          visibility: visible; }
      #content form .input-box .voice {
        position: relative;
        padding: 0 8px;
        cursor: pointer; }
        #content form .input-box .voice .tooltiptext {
          margin-left: -66px; }
        #content form .input-box .voice:hover .tooltiptext {
          visibility: visible; }
      #content form .input-box .actions-toggle {
        position: absolute;
        display: none;
        right: 20px;
        top: 0;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        #content form .input-box .actions-toggle .crosshair {
          fill: #80868b;
          margin-right: 12px;
          cursor: pointer; }
        #content form .input-box .actions-toggle .vhr {
          border-left: 1px solid #dfe1e5;
          height: 65%; }
    #content form .form-actions {
      margin: 25px 0;
      text-align: center; }
      #content form .form-actions input {
        background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        color: #5F6368;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        outline: none; }
        #content form .form-actions input:hover {
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
          background-color: #f8f8f8;
          border: 1px solid #c6c6c6;
          color: #222; }
    #content form .input-res {
      display: none;
      width: 100%;
      position: absolute;
      margin-top: -1px;
      z-index: 3; }
      #content form .input-res .res-container {
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
        border: 0;
        border-radius: 0 0 24px 24px;
        -webkit-box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
                box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
        padding-bottom: 15px;
        overflow: hidden; }
      #content form .input-res .chr {
        border-top: 1px solid #e8eaed;
        margin: 0 20px 0 14px;
        padding-bottom: 4px; }
      #content form .input-res ul {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        #content form .input-res ul li {
          padding: 0 20px 0 16px; }
          #content form .input-res ul li:hover {
            background: #eee; }
          #content form .input-res ul li .sbic {
            height: 24px;
            width: 24px;
            padding-right: 14px;
            opacity: .4; }
          #content form .input-res ul li .suggestions-inner-container {
            -webkit-box-flex: 1;
                -ms-flex: auto;
                    flex: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
          #content form .input-res ul li .sbtc {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: auto;
                    flex: auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            min-width: 0;
            padding: 6px 0; }
          #content form .input-res ul li .sbl1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 16px;
            color: #212121;
            -webkit-box-flex: 1;
                -ms-flex: auto;
                    flex: auto;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            word-break: break-word;
            padding-right: 8px; }
      #content form .input-res .form-actions {
        margin: 0; }
      #content form .input-res .complain {
        font-size: 8pt;
        margin-top: -16px;
        position: absolute;
        bottom: 5px;
        right: 16px;
        color: #70757a;
        float: right;
        font-style: italic; }
  #content .languages {
    font-size: small;
    color: #222;
    line-height: 28px;
    text-align: center; }
    #content .languages a {
      color: #1a0dab; }

footer {
  left: 0;
  bottom: 0;
  display: block;
  position: fixed;
  padding: 0 30px;
  width: calc(100% - 60px);
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  line-height: 40px;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4; }
  footer a {
    color: #5f6368; }
  footer .country {
    border-bottom: 1px solid #e4e4e4; }
  footer .fbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 992px) {
      footer .fbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 768px) {
      footer .fbar ul:first-child li:nth-child(4) {
        display: none; } }
    @media screen and (max-width: 576px) {
      footer .fbar {
        font-size: 13px; } }
    footer .fbar span ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      footer .fbar span ul li {
        padding-left: 27px; }
        footer .fbar span ul li:first-child {
          padding-left: 0; }
